/* src/App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #6c757d;
}

p {
    font-size: 18px;
    font-weight: bold;
}

h1 {
    color: #007bff;
}